<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="templates/f_white/css/style.css">
		<script type="text/javascript" src="templates/f_white/js/jquery.js"></script>
		<script type="text/javascript" src="templates/f_white/js/sliding_effect.js"></script>
	</head>
	<body>
		<div id="wrapper">
		  <div id="sidebar">
			<div id="navigation-block">
				<ul id="sliding-navigation">
					<li class="sliding-element"><h3>Menu</h3></li>
					<li class="sliding-element"><a href="#">Link 1</a></li>
				</ul>
			</div>
		  </div>
		 
		  <div id="main">
			<?=$news?>
		  </div>
		 
		  <div id="footer">
			Footer
		  </div>
		 
		</div>
	</body>
</html>