<table width="100%" style="padding-top:8px;">
    <tr>
		<td style="margin-right: 100px; margin-top: 20px;">{img}</td>
		
		<td valign="top">
			<p align="left" style="margin-left:50px;">
				<span style="font-size: 13px; color: #1A1A1A">{cats}</span>
				<br>
				<span style="font-size: 32px; color: #eb0c0c">{title}</span>
			</p>
			<hr>
			{content}
			<hr>
			<p style="margin-left: 50px; color: #eb0c0c; font-size: 14px;">
				<span style="margin-right: 50px;">{date}</span>
				<span>Автор: {author}</span>
			</p>
		</td>
	</tr>
</table>