<table width="100%" style="padding-top:8px;">
    <tr>
		<td align="left" width="250px" style="padding-top: 0px; padding-right:0px; margin-top: 0px">{img}</td>
		
		<td valign="top">
			<p>
				<span style="font-size: 13px; color: #1A1A1A">{cats}</span>
				<br>
				
				<span>
					<a href="javascript:history.go(-1);" style="font-size: 25px; color: #fff; background: #eb0c0c; padding: 3px; padding-right: 50%; text-decoration: none;">{title}</a>
				</span>
				
				<hr>
				{content}
				<hr>
			
			</p>
			
			<p style="margin-left: 50px; color: #eb0c0c; font-size: 14px;">
				<span style="margin-right: 50px;">{date}</span>
				<span>Автор: {author}</span>
			</p>
		</td>
	</tr>
</table>