<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Flame</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="templates/<?=$template?>/css/main.css">
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
		<script src="js.TweenMax.min.js"></script>
		<script src="js.jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div id="site_name">FlameCMS</div>
        </header>
        <div id="wrapper">
            <aside>
                <div id="menu_title">Меню</div>
                <div id="menu">
                    <?=$menu?>
                </div>
            </aside>
            <div id="main">
                <?=$news?>
            </div>
        </div>
        <footer>&copy; Flame CMS 2016. <br /><i align="center"> version <?=$engine_version?></i></footer>
		
		<script src="js/gallery.js"></script>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
			<defs>
				<filter id="blur">
					<feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
				</filter>
			</defs>
		</svg>
    </body>
</html>