<div class="news_item">

	<meta property="og:type" content="article">
	<meta property="og:title" content="[_title]">
	<meta property="og:url" content="neongames.ru">
	<meta property="og:description" name="description" content="[_desc]">

	<link itemprop="mainEntityOfPage" itemscope href="neongames.ru" />
	<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img style="display:none;" alt="Лого www.neongames.ru" itemprop="image url" src="http://www.neongames.ru/templates/f_default/favicons/favicon-160x160.png"/>
            <meta itemprop="width" content="160">
            <meta itemprop="height" content="160">
        </div>
        <meta itemprop="address" content="Россия, Сахалин">
        <meta itemprop="name" content="www.neongames.ru">
    </div>
	
	<div class="news_title" itemprop="headline">
		<img src="/templates/f_default/img/article.svg" align="left" />
		[_title]
		
		<div class="news_cat">
			<img />[_cat]
		</div>
	</div>
	<div class="news_text">
	<hr align="center" width="100%" color="#000"/>	
	[_text] 
	<hr align="center" width="100%" color="#000"/></div>
	
	<meta itemprop="datePublished" content="[_date_b]">
    <meta itemprop="dateModified" content="[_date_b]">
	
	<div class="news_info">
	
	<img src="/templates/f_default/img/author.svg" align="left"> Автор: 

	<span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">[_author]</span>
    </span>
 
	<img src="/templates/f_default/img/time.svg" style="padding:0px;"> [_date_b]
	</div>
	<div class="news_tags">
	<img />[_desc]
	</div>
</div>