<div class="news_item">
		<img src="/templates/f_default/img/article.svg" align="left" />
		[_title]
		
		<div class="news_cat">
			<img />[_cat]
		</div>
	<div class="news_text">
	<hr align="center" width="100%" color="#000"/>	
	[_text] 
	<hr align="center" width="100%" color="#000"/></div>
	
	<div class="news_info">
		<img src="/templates/f_default/img/author.svg" align="left"> Автор: 
		<img src="/templates/f_default/img/time.svg" style="padding:0px;"> [_date_b]
	</div>
	
	<div class="news_tags">
		<img />[_desc]
	</div>
	</div>
</div>