<!DOCTYPE html>
<html>
    <head>
        <title>Flame</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="<?=$css_dir?>/main.css">
    </head>
    <body>
        <header>
            <div id="site_name">FlaMeCMS</div>
        </header>
        <div id="wrapper">
            <aside>
                <div id="menu_title">Menu</div>
                <div id="menu">
                    <?=$menu?>
                </div>
            </aside>
            <div id="main">
                <?=$news?>
            </div>
        </div>
        <footer>&copy; Flame CMS 2016</footer>
    </body>
</html>