<!DOCTYPE html>
<html>
    <head>
        <title>Flame</title>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="templates/i_new/css/main.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<!--[if IE]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>
        <header>
            <div id="site_name">FlaMeCMS</div>
        </header>
        <div id="wrapper">
            <aside>
                <div id="menu_title">Menu</div>
                <div id="menu">
                    <?=$menu?>
                </div>
            </aside>
            <div id="main">
                <?=$news?>
            </div>
        </div>
        <footer>&copy; Flame CMS 2016. <br /><i align="center"><?=$eng_version?></i></footer>
    </body>
</html>