<!doctype html>
<html>
	<head>
		<title>Flame</title>
		<meta charset="utf-8">
		<link href="<?=$css_dir?>/page.css" rel="stylesheet">
		<link href="<?=$css_dir?>/news.css" rel="stylesheet">
	</head>

	<body>
		<div class="wrapper">
			<div class="left-block">
				<div class="logo-img">
					<img href="#" src="<?=$img_dir?>/logo.png" style="width: 190px; height: 190px; margin: 0px; padding: 10px;">
				</div>
				<div class="line-g"></div>
				<p class="logo-text">Neongames</p><p class="logo-desc"><i>Команда разработчиков игр.</i></p>
				<div class="line-g"></div>
				<div class="menu">
					<p align="center" style="color: white;">Меню</p>
					<?=$menu?>
				</div>
			</div>
			<div class="news"><?=$news?></div>
		</div>
	</body>
</html>