.news
{
	width: 720px;
	float: right;
}

.news-title
{
	margin-bottom: 0px;
    padding: 10px;
    color: #000;
    background: #eee;
	width: 550px;
	text-transform: uppercase;
}

.news-text
{
	width: 550px;
	background: #ddd;
	padding: 10px;
	font-size: 15px;
}

.news-bottom
{
	margin-bottom: 15px;
	padding: 10px;
	width: 570px;
    background: #eee;
}