body 
{
  margin:0;
  padding:0;
}
#main 
{
	width:750px;
	height: 1750px; /*can be anything, just should make sure it is taller than the sidebar*/
	padding: 25px;
	margin-top:25px;
	padding: 25px;
	float: left;
	
	background: #fafafa;
	border: 2px solid #eb0c0c;
}
#sidebar 
{
	width: 160px;
	background-color: #fff;
/*	border: 2px solid #eb0c0c; */
	min-height: 200px;
	
	margin: 10px 0 15px 0; /*controls the cutoff of the top and bottom limitations*/
	margin-top: 100px;
	margin-right: 10px;
	
	padding: 15px 10px;
	float: left; /* float right for a right aligned sidebar */
  
	box-shadow:inset -5px 0 5px -5px #000000;
	
/*	border-radius: 15px 0px 0px 15px; */
}
#footer 
{
	width: 1000px;
	clear:both;
	background-color: #ccc;
	height: 100px;
	margin-top: 100px;
}
#wrapper 
{
	width: 1000px; /* MUST HAVE WIDTH SET, should be the sidebar width + main width */
	margin-left: auto;
	margin-right: auto;
}

/********************************************************/

#navigation-block {
	position:relative;
}

#hide {
	position:absolute;
	top:30px;
	left:-190px;
}

ul#sliding-navigation
{
	list-style: none;
	font-size: .76em;
	margin: 30px 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: 110px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3
{
	color: #fff;
	background: #eb0c0c;
	font-weight: normal;
	cursor: pointer;
}

ul#sliding-navigation li.sliding-element a
{
	color: #999;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover 
{
	color: #bc0909; 
}