@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,greek,greek-ext,cyrillic-ext,vietnamese,latin-ext,cyrillic);
* {
	font-family: "Open Sans", sans-serif;
}
body {
	display: flex;
	margin: 0;
	background: #F2F1EF;
	min-height: 100vh;
}
aside {
	width: 250px;
	background: #1d1d1d;
	color: #F2F1EF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#ap-menu {
	
}
#ap-optbar {
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: flex-end;
	border-top: #353534 solid 1px;
}
#logout-btn {
	padding: 5px;
}
#logout-btn:hover {
	background: #353534;
}
.ap-menuitem {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.ap-menuitem:hover {
	background: #353534;
}
main {
	flex-grow: 1;
}
.indeterminate-main {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #bdc3c7;
	font-size: 24px;
}
.error-main {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e74c3c;
	font-size: 24px;
}
#settings-list {
	display: flex;
	flex-direction: column;
}
#settings-item {
	display:flex;
	height: 50px;
	border-bottom: 1px solid #bdc3c7;
}
#settings-item label {
	flex-basis: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #bdc3c7;
}
#settings-item > input {
	flex-basis: 80%;
	padding: 10px;
	box-sizing: border-box;
	/* reset default css */
	background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#settings-item select {
	padding: 10px;
	box-sizing: border-box;
	/* reset default css */
	appearance: none;
	-moz-appearance: none;
	background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.select-container select {
	width: 100%;
}
#settings-item > .select-container {
	flex-basis: 80%;
}
#save-button {
	background: #3498db;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F2F1EF;
	padding: 15px;
	cursor: pointer;
}
#save-button:hover {
	background: #2980b9;
}
#save-button-cont {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#save-state {
	margin-top: 15px;
}
.save-state-wait {
	color: #bdc3c7;
}
.save-state-ok {
	color: #2ecc71;
}
.save-state-error {
	color: #e74c3c;
}
@media(max-width: 640px) {
	body {
		flex-direction: column;
		align-items: flex-start;
	}
	aside {
		width: 100%;
		flex-direction: column-reverse;
	}
	#ap-optbar {
		border-top: none;
		border-bottom: #353534 solid 1px;
	}
	main {
		flex-grow: 0;
		width: 100%;
	}
}