@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body 
{
    font-family: 'Open Sans', sans-serif;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #F1F1F1;
    width: 75vw;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}
.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

h1
{
	font-size: 50px;
}

.tite
{
	margin: 150px auto;
	margin-bottom: 0px;
	text-align: center;
}

header 
{
    height: 75px;
    background: #ababab;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
}

footer 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #ababab;
	margin-bottom: 0px;
}
.button
{
	text-align: center;
	margin: 50px;
}

.buttons
{
	margin: 0 auto;
}

.str
{
	margin-top: 50px;
	margin-bottom:50px;
	margin-left:10px;
	margin-right:10px;
	padding-left:0px;
	padding-right:0px;
	min-height: 80%;
}

/* ---------- LOGIN ---------- */

#login {
	margin: 150px auto;
	margin-top: 10%;
	width: 280px;
}

#login form span {
	background-color: #F1F1F1;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
	outline:none;
}

#login form input[type="text"], input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

#login form input:focus {
	color:#fff;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #111;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 280px;
}

#login form input[type="submit"]:hover {
	background-color: #222;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}